body {
  background-color: #000000;
  color: #f0f0f0;
  font-family: Arial, sans-serif;
}

h1 {
  color: #f0f0f0;
}

nav {
  margin-bottom: 20px;
}

a {
  color: #f0f0f0;
  text-decoration: none;
}

a:hover {
  color: #cc0000;
}

a:visited {
  color: #551A8B;
}
